﻿@model FizzBuzzProject.Models.FizzBuzzViewModel
@using PagedList.Mvc;
@{
    ViewBag.Title = "FizzBuzz";
}

<h3>FizzBuzz</h3>

<div class="row">
    

        @foreach (var number in Model.FizzBuzzNumbers)
        {
            if (number == "FizzBuzz")
            {
                <span class="fizz">Fizz</span><span class="buzz">Buzz</span>
            }
            else
            {
                <span class="@number.ToLower()"> @number</span>
            }
            <br />
        }

    

</div>
<br />

@Html.PagedListPager(Model.FizzBuzzNumbers, page => Url.Action("FizzBuzz",
    new { value = @Model.Userinput, page }))