﻿@model FizzBuzzProject.Models.FizzBuzzViewModel
@{
    ViewBag.Title = "FizzBuzz";
}

<div class="jumbotron">
    <h1>FizzBuzz</h1>
</div>

<form action="/Home/Index" method="POST">
    <div class="row">
        @Html.TextBoxFor(m => m.Userinput)
        @Html.ValidationMessageFor(m => m.Userinput)

    </div>

    <div class="row">
        <input type="submit" class="btn btn-default" value="Get FizzBuzz" />
    </div>

</form>
